# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server.

# Site settings
title: "Варим ML"
description: "Посты из телеграм-канала @varim_ml"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://crazyfrogspb.github.io" # the base hostname & protocol for your site
# Убираем социальные ссылки из header

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Encoding
encoding: utf-8

# Exclude from processing.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - scripts/

# Collections
collections:
  posts:
    output: true
    permalink: /:year/:month/:day/:title/

# Pagination
paginate: 10
paginate_path: "/page:num/"

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "Varim ML"
  - scope:
      path: "tags"
    values:
      layout: "tag"

# Custom settings
show_excerpts: true
date_format: "%d.%m.%Y"

# Minima theme settings
minima:
  skin: auto
  social_links:
    - { platform: telegram, user_url: "https://t.me/varim_ml" }
