<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-content">
      <p>Контакт в Telegram: <a href="https://t.me/crazyfrogspb" target="_blank">@crazyfrogspb</a></p>
    </div>
  </div>

</footer>

<style>
  .footer-content {
    text-align: center;
    padding: 1rem 0;
  }

  .footer-content p {
    margin: 0;
    color: #828282;
  }

  .footer-content a {
    color: #2a7ae2;
    text-decoration: none;
  }

  .footer-content a:hover {
    text-decoration: underline;
  }
</style>
